<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lili.tesla.foxdivination">

    <application
        android:name=".presentation.application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.screen.main.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.screen.china.mainChina.view.ChinaActivity" />
        <activity android:name=".presentation.screen.china.fateBook.devination.view.FateBookDevinationActivity" />
        <activity android:name=".presentation.screen.china.fateBook.main.view.FateBookMainActivity" />
        <activity android:name=".presentation.screen.china.fateBook.result.view.FateBookResultActivity" />
        <activity android:name=".presentation.screen.ekaterina.main.view.EkaterinaMainActivity" />
        <activity android:name=".presentation.screen.ekaterina.result.view.EkaterinaResultActivity" />
        <activity android:name=".presentation.screen.china.domino.main.view.DominoMainActivity" />
        <activity android:name=".presentation.screen.china.domino.resultOne.view.DominoResultOneActivity" />
        <activity android:name=".presentation.screen.china.domino.resultThree.view.DominoResultThreeActivity" />
        <activity android:name=".presentation.screen.china.domino.resultSeven.view.DominoResultSevenActivity" />
        <activity android:name=".presentation.screen.jewish.kabbala.devination.view.KabbalaDevinationActivity" />
        <activity android:name=".presentation.screen.jewish.kabbala.main.view.KabbalaMainActivity" />
        <activity android:name=".presentation.screen.jewish.kabbala.result.view.KabbalaResultActivity" />
        <activity android:name=".presentation.screen.jewish.mainJewish.view.JewishActivity" />
        <activity android:name=".presentation.screen.africa.main.view.AfricaMainActivity" />
        <activity android:name=".presentation.screen.africa.coffee.result.view.CoffeeResultActivity" />
        <activity android:name=".presentation.screen.africa.coffee.main.view.CoffeeMainActivity"></activity>
    </application>

</manifest>